<!--Modal function start-->  
<div class="modal fade" id="add_announcement" tabindex="-1", data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <%= form_for @announcement , 
          url: subject_assignment_announcements_path(subject_assignment_id: @subject_assignment) do |f| %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class: "form-control", autofocus: true %>
            </div>

            <div class="form-group">
              <%= f.label :content %>
              <%= f.text_area :content, class: "form-control" %>
            </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>

        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
<!--Modal Function End-->
