<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <%= link_to "Exam Schedule", "#exam_scheds", class: 'nav-link active', data: { toggle: 'tab' } %>
      </li>

      <li class="nav-item">
        <%= link_to "Announcements", "#announcements", class: 'nav-link', data: { toggle: "tab" } %>
      </li>

      <li class="nav-item">
        <%= link_to "Deadlines", "#deadlines", class: 'nav-link', data: { toggle: "tab" } %>
      </li>

    </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="exam_scheds">
      <div class="card">
          <div class="card-block">
            <h4 class="card-title">Schedule1</h4>
            <p class="card-text">Some content</p>
          </div>
      </div>

      <div class="card">
          <div class="card-block">
            <h4 class="card-title">Schedule2</h4>
            <p class="card-text">Some content</p>
          </div>
      </div>
    </div>

    <!--Announcement content-->
    <div class="tab-pane fade" id="announcements">
      
      <div class="card">
        <div class="card-block">
          <p class="card-text">
            Add new announcement
          </p>
        </div>
      </div>
      <%= render 'announcement_form' %>

      <% @announcements.each do |announcement| %>
        <div class="card">
            <div class="card-block">
              <h4 class="card-title">
                <%= announcement.title %>
              </h4>
              <p class="card-text">
                <%= announcement.content %>
              </p>
            </div>
        </div>
      <% end %>
    </div>
    <!--End of Announcement-->

    <!--Deadlines-->
    <div class="tab-pane fade" id="deadlines">
      <div class="card">
          <div class="card-block">
            <h4 class="card-title">Deadline1</h4>
            <p class="card-text">Some content</p>
          </div>
      </div>
      <div class="card">
          <div class="card-block">
            <h4 class="card-title">Deadline2</h4>
            <p class="card-text">Some content</p>
          </div>
      </div>
    </div>
    <!--End of deadlines-->

  </div>

  
</div>


