<div class="card text-center" id="remove-border">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <%= link_to "Exam Schedule", "#exam_scheds", class: 'nav-link active', data: { toggle: 'tab' } %>
      </li>

      <li class="nav-item">
        <%= link_to "Announcements", "#announcements", class: 'nav-link', data: { toggle: "tab" } %>
      </li>

      <li class="nav-item">
        <%= link_to "Deadlines", "#deadlines", class: 'nav-link', data: { toggle: "tab" } %>
      </li>

    </ul>
  </div>

  <!--Exam Schedule content-->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="exam_scheds">
      <%= link_to "javascript:;", data: { toggle: "modal", target: "#add_exam_sched" } do %>
      <div class="card mb-3">
          <div class="card-block">
            <h4 class="card-title">Add a new schedule</h4>
          </div>
      </div>
    <% end %>

    <% @exam_schedules.each do |exam_schedule| %>
      <div class="card mb-3">
          <div class="card-block">
            <h4 class="card-title"><%= exam_schedule.title %></h4>
            <p class="card-text"><%= exam_schedule.details %></p>
          </div>

          <div class="card-footer">
            <div class="row">
              <div class="col-md-6">
                <small>Exam Start: 
                  <%=format_date(exam_schedule.start_date) %>
                </small>
              </div>

              <div class="col-md-6">
                <small>Exam Finish: 
                  <%= format_date(exam_schedule.end_date) %>
                </small>
              </div>
            </div>
          </div>
      </div>
    <% end %>
    </div>

    <!--Announcement content-->
    <div class="tab-pane fade" id="announcements">
      
      <a href="javascript:;" data-toggle="modal" data-target="#add_announcement">
        <div class="card mb-3">
          <div class="card-block">
            <h4 class="card-title">
              Add new announcement
            </h4>
          </div>
        </div>
      </a>

      <% @announcements.each do |announcement| %>
        <div class="card mb-3">
            <div class="card-block">
              <h4 class="card-title">
                <%= announcement.title %>
              </h4>
              <p class="card-text">
                <%= announcement.content %>
              </p>
            </div>
        </div>
      <% end %>
    </div>
    <!--End of Announcement-->

    <!--Deadlines-->
    <div class="tab-pane fade" id="deadlines">
      <div class="card mb-3">
          <div class="card-block">
            <h4 class="card-title">Deadline1</h4>
            <p class="card-text">Some content</p>
          </div>
      </div>
      <div class="card mb-3">
          <div class="card-block">
            <h4 class="card-title">Deadline2</h4>
            <p class="card-text">Some content</p>
          </div>
      </div>
    </div>
    <!--End of deadlines-->

  </div>

  
</div>

<%= render 'announcement_form' %>
<%= render 'exam_sched_form' %>
