<div class="modal fade" id="add_exam_sched" tabindex="-1", data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <%= form_for @exam_schedule , 
          url: subject_assignment_exam_schedules_path(subject_assignment_id: @subject_assignment) do |f| %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class: "form-control", autofocus: true %>
            </div>

            <div class="form-group">
              <%= f.label :details %>
              <%= f.text_area :details, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :start_date %><br />
              <%= f.datetime_local_field :start_date %>
            </div>

            <div class="form-group">
              <%= f.label :end_date %><br />
              <%= f.datetime_local_field :end_date %>
            </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>

        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
