<div class="row">
  <div class="col-md-2">
    <div>
      <%= link_to "Download", @teacher.user.avatar.url(:original, false)%>
      <%= image_tag @teacher.user.avatar.url(:medium) %>
      <p><%= @subject.name %></p>
      <p><%= @subject.code %></p>
      <p><%= @teacher.nil? ? "Not asssigned yet" : @teacher.teacher_name %></p>
    </div>
    <%= render "side_bar" %>
  </div>

  <div class="col-md-8">
    <%= render "bulletin_board" %>
    
  </div>
</div>
<% console %>
