<div class="row">
  <div class="col-md-2">
    <div>
      <%= image_tag @subject_assignment.teacher_image %>
      <p><%= @subject_assignment.subject_name %></p>
      <p><%= @subject_assignment.subject_code %></p>
      <p><%= @subject_assignment.teacher_name %></p>
    </div>
    <%#= render "side_bar" %>
  </div>

  <div class="col-md-8">
    <%= render "bulletin_board" %>
    
  </div>
</div>
