<div class="row">
  <div class="col-md-2">
    <div>
      
      <p><%= @subject.name %></p>
      <p><%= @subject.code %></p>
      <p><%= @subject.search_teacher(current_user.student.blocks.first) %></p>
    </div>
    <%= render "side_bar" %>
  </div>

  <div class="col-md-8">
    <%= render "bulletin_board" %>
  </div>
</div>
<% console %>
